// custom.scss
// we can over-write the variables in here!

$primary: gray;

@import "../node_modules/bootstrap/scss/bootstrap";

// importing google fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-body-font-family: font-family: "Poppins", sans-serif;
}

// We can put custom code in here .....
#nav {
  background-color: rgba(255, 204, 0, 1);
  border-radius: 1rem;
  padding: 1rem;
}

//#navbarNav {
//outline: 1px solid blue;
//}

.hero {
  min-height: 75vh;
  height: auto;
}

.postcode-search {
  //outline: 1px solid white;
  margin-top: 11rem;
}

.postcode-form {
  width: 25rem;
  padding: 3rem;
  //background-color: rgba(255, 255, 255, 0.5);
  //border-radius: 2rem;
}

.results-form{
  width:25rem;
  padding: 1rem;
}



.brandbtn {
  background: rgba(255, 204, 0, 1);
  padding: 0.3rem;
  padding-left:1.5rem ;
  padding-right: 1.5rem;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.postcode-input{
  width: 11rem;
  font-family: "Poppins", sans-serif;
  height: 2rem;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.postcode-input:focus{
  border-color:rgba(255, 204, 0, 1) ;
}



@media screen and (max-width: 576px) {
  #nav {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    //font-size: 3.75rem;
    //line-height: 4.125rem;
  }
}

.supporting-text {
  width: 25rem;
}

.sunny-info-photo {
  width: 25rem;
}

.sunny-footer {
  background-color: rgba(217, 209, 199, 1);
}

.renewables {
  width: 10rem;
}

.brandbackground {
  background-color: rgba(255, 204, 0, 1);
}

// to create contrast colour buttons

.brandcontrastbackground {
  background-color: rgba(217, 209, 199, 1);
}

.footer-icons{
  width: 2.2rem;
}

.results {
  width: 26rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem solid rgba(255, 204, 0, 1);
  padding: 2.5rem;
  box-shadow: 3px 3px 3px 0 rgba(255, 204, 0, 1);
}

.results-view{
  display: none;
  
}

